:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-griendt: linear-gradient(to right top, #603664, #593866, #513a66, #4a3c67, #433d66, #39426a, #2f476c, #254b6d, #14546f, #0a5c6e, #15636a, #286965);
}

*{
  margin: 0; 
  padding: 0; 
}
*, *::before, *::after{
  box-sizing: border-box; 
}

.bg-gradient {
  background-image: var(--bg-griendt);
}
