:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-griendt: linear-gradient(90deg, hsla(307, 93%, 84%, 1) 0%, hsla(256, 96%, 44%, 1) 100%);
}

*{
  margin: 0; 
  padding: 0; 
}
*, *::before, *::after{
  box-sizing: border-box; 
}

.bg-gradient {
  background-image: var(--bg-griendt);
}

.bg-dark {
  background-color: #0B1437;
}

a {
  text-decoration: none;
}

.inner-container {
  width: 100%;
  padding: 20px;
  max-width: 100%;
}
